@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My CRUD </h1>
    <p>Essa é minha primeira aplicação Web então seja piedoso hahah.</p>
</div>
<div class="text-center display-2">
    <p>Meu nome é gabriel celestino sou um desenvolvedor Iniciante
        que está apostando suas fichas na microsoft na tecnologia:<bold>C#</bold>  </p>
       

</div>
